* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Europa', sans-serif; }

.menu-btn {
  background-color: rgba(96, 158, 173, 0.7);
  text-align: center; }
  .menu-btn img {
    width: 40px;
    height: 30px;
    margin: 10px 0; }

.menu-nav {
  background-color: rgba(214, 223, 224, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  height: 100vh; }
  .menu-nav-list {
    z-index: 10;
    margin: 100px 0 0 50px; }
    .menu-nav-list .list-item {
      text-decoration: none;
      color: #9FB8BB;
      font-size: 26px; }
      .menu-nav-list .list-item li {
        padding: 10px 0;
        list-style-type: none; }
  .menu-nav-brand {
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    background-color: #3e6d74; }
    .menu-nav-brand .menu-close {
      margin: 15px auto; }
      .menu-nav-brand .menu-close img {
        width: 80px;
        height: 80px; }
    .menu-nav-brand .brand-name {
      display: flex;
      justify-content: center;
      padding-bottom: 30px; }
      .menu-nav-brand .brand-name h1 {
        font-size: 40px;
        color: #fff;
        writing-mode: vertical-lr;
        transform: rotate(180deg); }

.home {
  background-color: rgba(96, 158, 173, 0.7);
  display: flex;
  flex-direction: column; }
  .home-image {
    display: flex;
    position: relative; }
    .home-image div {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(214, 223, 224, 0.3);
      display: flex; }
      .home-image div h1 {
        margin-bottom: 80px;
        color: #fff;
        font-size: 40px;
        writing-mode: vertical-lr;
        transform: rotate(180deg); }
    .home-image img {
      width: 100%;
      height: min-content; }
  .home-description {
    z-index: 2;
    position: relative;
    top: -50px;
    background-color: #f74d0a;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center; }
    .home-description-text {
      background-color: #fff; }
      .home-description-text h3 {
        font-size: 14px;
        text-transform: uppercase;
        padding: 25px 10% 10px; }
      .home-description-text p {
        font-size: 26px;
        text-transform: capitalize;
        padding: 10px 10% 30px; }

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr; }
  .about-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center; }
    .about-info h3 {
      margin: 30px 0 10px;
      font-size: 12px;
      text-transform: uppercase; }
    .about-info h2 {
      margin: 10px 0;
      font-size: 26px; }
    .about-info p {
      margin: 20px 10%;
      font-size: 17px;
      line-height: 27px;
      text-align: left; }
    .about-info button {
      margin: 10px auto 30px;
      padding: 10px;
      font-size: 14px;
      width: 60%;
      font-weight: bold;
      background-color: #fff;
      border: 2px solid #9FB8BB;
      color: #9FB8BB; }
  .about-galery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr min-content; }
    .about-galery .box-img {
      width: 100%; }
      .about-galery .box-img img {
        width: 100%; }

.about-two {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 60px auto;
  color: #fff; }
  .about-two-picture {
    z-index: 2;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #a3a2a2;
    text-align: center;
    padding: 30px 0; }
    .about-two-picture img {
      width: 90%; }
  .about-two-info {
    z-index: 1;
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(96, 158, 173, 0.7); }
    .about-two-info div {
      margin: 40px 0;
      padding: 0 10%; }
      .about-two-info div h2 {
        font-size: 30px;
        margin-bottom: 35px; }
      .about-two-info div ul {
        font-size: 25px; }
        .about-two-info div ul li {
          padding: 10px;
          list-style-type: none; }

.about-three {
  margin: 40px 0; }
  .about-three-title {
    text-align: center; }
    .about-three-title h2 {
      font-size: 30px; }
  .about-three-boxes {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 80px 10%; }
    .about-three-boxes .box {
      text-align: center; }
      .about-three-boxes .box div {
        background-color: rgba(188, 143, 143, 0.5);
        padding: 10px 5% 15px; }
      .about-three-boxes .box h3, .about-three-boxes .box h4, .about-three-boxes .box p {
        padding: 10px; }
      .about-three-boxes .box h3 {
        font-size: 32px;
        color: rgba(218, 165, 32, 0.7); }
      .about-three-boxes .box h4 {
        font-size: 22px; }
      .about-three-boxes .box p {
        font-size: 20px; }
    .about-three-boxes button {
      position: relative;
      bottom: 13px;
      width: 40%;
      padding: 23px 30px;
      background-color: #fff;
      border: 1px solid lightgray;
      border-radius: 45px; }

.description-section {
  background-image: url("../images/people.jpg");
  background-size: cover;
  margin: 50px 0; }
  .description-section .transparence {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #5076a7; }
    .description-section .transparence .box-photo {
      z-index: 2;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative; }
      .description-section .transparence .box-photo .photo {
        width: 100%; }
        .description-section .transparence .box-photo .photo img {
          width: 100%; }
      .description-section .transparence .box-photo .bg-transparent {
        width: 60%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 220px;
        right: 0; }
    .description-section .transparence .box-info {
      z-index: 3;
      color: #fff;
      text-align: center;
      padding: 0 10%;
      margin: 30px 0; }
      .description-section .transparence .box-info h3, .description-section .transparence .box-info h4, .description-section .transparence .box-info p {
        padding: 15px 0; }
      .description-section .transparence .box-info h4 {
        font-size: 20px; }
      .description-section .transparence .box-info h3 {
        font-size: 26px; }
      .description-section .transparence .box-info p {
        text-align: left;
        font-size: 18px; }
      .description-section .transparence .box-info button {
        margin: 15px 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        border-color: #fff;
        font-weight: bold;
        font-size: 19px; }

.comentarios {
  margin: 50px 10%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
  .comentarios h2 {
    font-size: 26px;
    margin: 20px 0; }
  .comentarios .comments {
    margin: 20px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center; }
    .comentarios .comments .comment {
      opacity: 0;
      grid-column: 1/2;
      grid-row: 1/2;
      transition-property: opacity;
      transition-duration: 1.2s;
      transition-timing-function: ease-in; }
      .comentarios .comments .comment p {
        width: 80%;
        margin: 0 auto;
        font-size: 18px; }
      .comentarios .comments .comment span {
        display: block;
        font-size: 16px;
        margin: 15px 0; }
    .comentarios .comments .show {
      opacity: 1; }
  .comentarios .buttons-carousel {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 50px;
    width: 100px; }
    .comentarios .buttons-carousel button {
      width: 30%; }

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none; }
  .menu-nav {
    background-color: rgba(96, 158, 173, 0.7);
    z-index: 10;
    display: block;
    height: auto; }
    .menu-nav-list {
      margin: 0;
      background-color: rgba(96, 158, 173, 0.7);
      display: flex;
      justify-content: space-around; }
      .menu-nav-list .list-item {
        text-decoration: none;
        color: #fff;
        margin: 5px;
        font-size: 20px; }
        .menu-nav-list .list-item li {
          padding: 10px;
          list-style-type: none; }
      .menu-nav-list .list-item:last-child {
        background-color: #3e6d74; }
    .menu-nav-brand {
      display: none; }
  .home {
    flex-direction: row;
    padding: 100px 0 50px 10%; }
    .home-image {
      z-index: 1;
      display: flex;
      position: relative; }
      .home-image div {
        top: -33px;
        left: 0;
        background-color: rgba(214, 223, 224, 0); }
        .home-image div h1 {
          margin-bottom: 0;
          margin-left: 50px;
          writing-mode: horizontal-tb;
          transform: rotate(0); }
      .home-image img {
        width: 100%;
        height: min-content; }
    .home-description {
      z-index: 2;
      position: relative;
      top: 0;
      left: -50px;
      background-color: #f74d0a;
      width: 80%;
      margin: auto 10% auto 0;
      padding: 10px 0;
      text-align: center; }
      .home-description-text {
        background-color: #fff; }
        .home-description-text h3 {
          font-size: 14px;
          text-transform: uppercase;
          padding: 25px 10% 10px; }
        .home-description-text p {
          font-size: 26px;
          text-transform: capitalize;
          padding: 10px 10% 30px; }
  .about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr; }
    .about-info {
      display: flex;
      flex-direction: column;
      padding: 15px;
      text-align: center; }
      .about-info h3 {
        margin: 30px 0 10px;
        font-size: 12px;
        text-transform: uppercase; }
      .about-info h2 {
        margin: 10px 0;
        font-size: 26px; }
      .about-info p {
        margin: 20px 10%;
        font-size: 17px;
        line-height: 27px;
        text-align: left; }
      .about-info button {
        margin: 10px auto 30px;
        padding: 10px;
        font-size: 14px;
        width: 60%;
        font-weight: bold;
        background-color: #fff;
        border: 2px solid #9FB8BB;
        color: #9FB8BB; }
    .about-galery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0 20px;
      margin: auto 20px; }
      .about-galery .box-img {
        width: 100%; }
        .about-galery .box-img img {
          width: 100%; }
      .about-galery .img-one, .about-galery .img-two {
        position: relative;
        top: 30px; }
      .about-galery .img-three, .about-galery .img-four {
        position: relative;
        top: -30px; }
      .about-galery .img-three {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: stretch; }
      .about-galery .img-four {
        align-self: flex-end; }
  .about-two {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 60px auto;
    color: #fff; }
    .about-two-picture {
      width: 70%;
      z-index: 2;
      margin: 0 auto;
      border-style: solid;
      border-width: 1px;
      border-color: #a3a2a2;
      text-align: center;
      padding: 30px 0;
      display: grid; }
      .about-two-picture img {
        align-self: center;
        justify-self: center;
        width: 70%;
        height: 80%; }
    .about-two-info {
      z-index: 1;
      width: 90%;
      margin: 40px auto;
      display: grid;
      align-items: center;
      justify-items: center;
      background-color: rgba(96, 158, 173, 0.7); }
      .about-two-info div {
        margin: 40px 0;
        padding: 0 10%; }
        .about-two-info div h2 {
          font-size: 30px;
          margin-bottom: 35px; }
        .about-two-info div ul {
          font-size: 25px; }
          .about-two-info div ul li {
            padding: 10px;
            list-style-type: none; }
  .comentarios h2 {
    margin: 40px 0; } }

@media screen and (min-width: 932px) {
  .about-three-boxes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
  .description-section {
    background-image: url("../images/people.jpg");
    background-size: cover;
    margin: 50px 0; }
    .description-section .transparence {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgba(80, 118, 167, 0.4);
      position: relative; }
      .description-section .transparence .box-photo {
        z-index: 2;
        margin: 5% 0 5% auto;
        width: 60%;
        display: grid;
        grid-template-columns: 30% 5% 65%;
        grid-template-rows: 1fr;
        position: relative;
        right: 10%; }
        .description-section .transparence .box-photo .photo {
          width: 100%;
          grid-column: 3/4; }
          .description-section .transparence .box-photo .photo img {
            width: 100%;
            height: 100%; }
        .description-section .transparence .box-photo .bg-transparent {
          width: auto;
          background-color: rgba(109, 109, 109, 0.3);
          position: relative;
          top: 0;
          right: auto; }
      .description-section .transparence .box-info {
        z-index: 3;
        position: relative;
        left: 10%;
        color: #fff;
        width: 30%;
        text-align: center;
        padding: 0;
        margin: 30px auto 30px 0; }
        .description-section .transparence .box-info h3, .description-section .transparence .box-info h4, .description-section .transparence .box-info p {
          padding: 15px 0; }
        .description-section .transparence .box-info h4 {
          font-size: 20px; }
        .description-section .transparence .box-info h3 {
          font-size: 26px; }
        .description-section .transparence .box-info p {
          text-align: left;
          font-size: 18px; }
        .description-section .transparence .box-info button {
          margin: 15px 0;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          border-color: #fff;
          font-weight: bold;
          font-size: 19px; } }

@media screen and (min-width: 1200px) {
  .menu-nav-list {
    justify-content: right; }
    .menu-nav-list .list-item {
      padding: 0 20px;
      font-size: 20px; }
      .menu-nav-list .list-item li {
        padding: 10px; }
    .menu-nav-list .list-item:last-child {
      background-color: #3e6d74; }
  .home {
    flex-direction: row;
    padding: 130px 0 80px 10%; }
    .home-image {
      z-index: 1;
      display: flex;
      position: relative; }
      .home-image div {
        top: -33px;
        left: 0;
        background-color: rgba(214, 223, 224, 0); }
        .home-image div h1 {
          font-size: 48px;
          margin-bottom: 0;
          margin-left: 50px;
          writing-mode: horizontal-tb;
          transform: rotate(0); }
      .home-image img {
        width: 100%;
        height: min-content; }
    .home-description {
      z-index: 2;
      position: relative;
      top: 0;
      left: -50px;
      background-color: #f74d0a;
      width: 70%;
      margin: auto 10% auto 0;
      padding: 10px 0;
      text-align: center; }
      .home-description-text {
        background-color: #fff; }
        .home-description-text h3 {
          font-size: 18px;
          text-transform: uppercase;
          padding: 40px 15% 15px; }
        .home-description-text p {
          font-size: 30px;
          text-transform: capitalize;
          padding: 15px 15% 40px; }
  .about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin: 50px 0 50px; }
    .about-info {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      padding: 15px;
      text-align: center; }
      .about-info h3 {
        margin: 30px 0 20px;
        font-size: 12px;
        text-transform: uppercase; }
      .about-info h2 {
        margin: 20px 0;
        font-size: 26px; }
      .about-info p {
        margin: 30px 10%;
        font-size: 17px;
        line-height: 27px;
        text-align: left; }
      .about-info button {
        margin: 20px auto 30px;
        padding: 10px;
        font-size: 14px;
        width: 60%;
        font-weight: bold;
        background-color: #fff;
        border: 2px solid #9FB8BB;
        color: #9FB8BB; }
    .about-galery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0 20px;
      margin: auto 20px; }
      .about-galery .box-img {
        width: 100%; }
        .about-galery .box-img img {
          width: 100%; }
      .about-galery .img-one, .about-galery .img-two {
        position: relative;
        top: 50px; }
      .about-galery .img-three, .about-galery .img-four {
        position: relative;
        top: -50px; }
      .about-galery .img-three {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: stretch; }
      .about-galery .img-four {
        align-self: flex-end; }
  .about-two {
    width: 80%; } }
